# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\yh_soft\t763812834_java\code\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
